<?xml version="1.0" encoding="GB2312" ?>

<SYSTEM LogDir="../log"     LogNum="3"
  LogLevel="0"              LogSize="102400000"
  MaxFdCount="10240"        CoreDump="enable"
  MsgID="2015004001"        Interface="eth1"
  GlobalProcNum="2048"      ReportInterval="60"
  AlarmTimes = "1"          WebTimeout="10"
  HelperTimeout="5"         MaxListenCount="1024"
  BindAddr="0.0.0.0"        BindPort="80"
  AcceptLoopCount="256"
  AccessLog="0"             CleanCycle="600"
  AccessLimit="disable"     LimitConfig=""
  Dynamic_GZip="enable"     Dynamic_GZip_Inf="0"
  UseChunk="0"              SmsPath="/home/user_00/script/sendsms.sh"
  WorkerCount="5"           ShutDown_Write="enable"
  Proxy_Defense_Module="/usr/local/qzhttpIDS/bin/libqzids.so" Proxy_Defense_Conf="I hate this"
  Cgi_Defense_Module="/usr/local/qzhttpIDS/bin/libqzids.so" Cgi_Defense_Conf="I love this"
  GZipLevel="best_speed"     Dye_Plugin="../lib/cookie_dye_log.so"
  KeepAlive="disable"        KeepAliveMax="-1"
  KeepAliveCycle="-1"        UUID="0"
  FIFOPath="/tmp/qzhttp_status_log" StatusLog="0"
  StatTimeCostRegion="10,20,50,100,200,500" >

<ModuleCommon DllFile="../lib/libcgihost.so" ConfigFile=""
  DocRoot="htdocs"          IndexFile="index.html"
  CgiHome="cgihome"         InitProcNum="4"
  MaxProcNum="16"           RunType="fastcgi"
  ReportCycle="60"          ProcTimeout="5"
  UsedMinPercent="0.01"     UsedMaxPercent="0.9"
  ExceptionPercent="0.8"    MaxExceptionTimes = "10"
  AdjustProcNum="1"         UseGzip="1"
  MaxMem="8"                MaxHandle="512"
  HandleCheckTimes="1000"   CacheAge="7200"
  RunTimes="-1"             UserName="user_00">
</ModuleCommon>

<ModuleList>

<Section DocRoot="htdocs" >
<Module ModName="proxy_module" DllFile="../lib/proxy.so" Monitor="disable"  />
</Section>

<Section DocRoot="/data/release/snsad/qzap/sns.gdt.qq.com/htdocs/" IndexFile="" CgiHome="/data/release/snsad/qzap/sns.gdt.qq.com" Publish="" Location="" VirtuelHost="sns.gdt.qq.com" ServerPath="" RspFile="">
  <Module ModName="fcg-bin/qzap_get_task_award.fcg" InitProcNum="10" MaxProcNum="10" RunType="fastcgi" CSRF="1"/>
  <Module ModName="fcg-bin/gdt_mt_get_task.fcg" InitProcNum="10" MaxProcNum="10" RunType="fastcgi" CSRF="1"/>
  <Module ModName="sns_click.fcg"    InitProcNum="50" MaxProcNum="200" RunType="fastcgi" />
  <Module ModName="static_module_sns" RunType="static"/>
</Section>

</ModuleList>
<Switch Index="-1" cginame="" prefix_mach="">
</Switch>
</SYSTEM>

