<?xml version="1.0" encoding="GB2312" ?>

<SYSTEM LogDir="../log"             LogNum="3"     
        LogLevel="0"                LogSize="102400000"
        MaxFdCount="40960"          CoreDump="disable"          
        MsgID="-1"	            Interface="eth1"            
        GlobalProcNum="2048"        ReportInterval="60" 
        AlarmTimes = "1"            WebTimeout="10" 
        HelperTimeout="5"           MaxListenCount="1024" 
        BindAddr="0.0.0.0"          BindPort="80"
        AccessLog="0"               CleanCycle="600"
        AccessLimit="disable"        LimitConfig=""
        Dynamic_GZip="enable"       Dynamic_GZip_Inf="0" 
	GZipLevel="best_speed"	    UUID="0"
        UseChunk="0"                SmsPath="/home/user_00/script/sendsms.sh">

<ModuleCommon DllFile="../lib/libcgihost.so" ConfigFile=""
              DocRoot="/data/release/snsad/broadcast/broadcast.qq.com/htdocs/"     IndexFile="index.html" 
              CgiHome="/data/release/snsad/broadcast/broadcast.qq.com/cgi-bin"    InitProcNum="10" 
              MaxProcNum="50"           RunType="fastcgi" 
              ReportCycle="60"          ProcTimeout="5"
              UsedMinPercent="0.01"     UsedMaxPercent="0.9"
              ExceptionPercent="0.8"    MaxExceptionTimes = "10"
              AdjustProcNum="3"         UseGzip="0" 
              MaxMem="300"                MaxHandle="512" 
              HandleCheckTimes="1000"   CacheAge="10" 
              RunTimes="10000"             UserName="user_00">
</ModuleCommon>

<ModuleList>

<Section>
<Module ModName="proxy_module" DllFile="../lib/proxy.so" Monitor="disable"/>
</Section>

<Section DocRoot="/data/release/snsad/broadcast/broadcast.qq.com/htdocs/" IndexFile="index.html" CgiHome="/data/release/snsad/broadcast/broadcast.qq.com/cgi-bin" Publish="/data/www/cgi-bin/publish" Location="" VirtuelHost="" ServerPath="">
<Module ModName="d.fcg" InitProcNum="100" MaxProcNum="250" RunTimes="50000" RunType="fastcgi" />
<Module ModName="static_module" RunType="static" />
</Section>

</ModuleList>

<Switch Index="-1">

<!--Item Condition="test-switch" Index="1" /-->

</Switch>

</SYSTEM>
