<?xml version="1.0" encoding="GB2312" ?>

<SYSTEM LogDir="../log"            LogName="container"     
        LogLevel="0"               MaxFdCount="40960" 
        CoreDump="enable"          MsgID="2015004001" 
        Interface="eth1"           GlobalProcNum="2048"
        ReportInterval="60"        AlarmTimes = "1"
        WebTimeout="3"             HelperTimeout="2"
        MaxListenCount="1024"      BindAddr="0.0.0.0"
        BindPort="80"              AcceptLoopCount="256" 
        AccessLog="0"              CleanCycle="600"
        Dynamic_GZip="enable"      Dynamic_GZip_Inf="0" 
        AccessLimit="disable"      LimitConfig="../conf/limit.xml"
        UseChunk="0"               SmsPath="/home/user_00/script/sendsms.sh"
	GZipLevel="best_speed"	   Dye_Plugin="../lib/cookie_dye_log.so"
        KeepAlive="disable"        KeepAliveMax="-1"   
        KeepAliveCycle="-1"        UUID="0"	
	FIFOPath="/tmp/qzhttp_status_log" StatusLog="0">
	
<ModuleCommon DllFile="../lib/libcgihost.so" ConfigFile=""
              DocRoot="htdocs"   IndexFile="index.html" 
              CgiHome="cgihome"         InitProcNum="1" 
              MaxProcNum="10"           RunType="fastcgi" 
              ReportCycle="30"          ProcTimeout="4"
              UsedMinPercent="0.01"     UsedMaxPercent="0.9"
              ExceptionPercent="0.8"    MaxExceptionTimes = "10"
              AdjustProcNum="1"         UseGzip="1" 
              MaxMem="4"                MaxHandle="512" 
              HandleCheckTimes="1000"   CacheAge="7200" 
              RunTimes="-1"              UserName="user_00">
</ModuleCommon>

<ModuleList>

<Section DocRoot="htdocs" >
<Module ModName="proxy_module" DllFile="../lib/proxy.so" Monitor="disable"  />
</Section>

<Section DocRoot="/data/release/snsad/qzap/gray.i.gdt.qq.com/htdocs/" IndexFile="" CgiHome="/data/release/snsad/qzap/gray.i.gdt.qq.com/fcg-bin/" Publish="" Location="" VirtuelHost="gray.i.gdt.qq.com" ServerPath="" RspFile="">
<Module ModName="view.fcg" InitProcNum="320" MaxProcNum="500" RunType="fastcgi" />
<Module ModName="static_module_i" RunType="static"/>
</Section>

<Section DocRoot="/data/release/snsad/qzap/gray.v.gdt.qq.com/htdocs/" IndexFile="" CgiHome="/data/release/snsad/qzap/gray.v.gdt.qq.com/fcg-bin/" Publish="" Location="" VirtuelHost="gray.v.gdt.qq.com" ServerPath="" RspFile="">
<Module ModName="gdt_stats.fcg" InitProcNum="240" MaxProcNum="500" RunType="fastcgi" />
<Module ModName="gdt_sharepv.fcg" InitProcNum="240" MaxProcNum="500" RunType="fastcgi" />
<Module ModName="static_module_v" RunType="static"/>
</Section>


<Section DocRoot="/data/release/snsad/qzap/c.gdt.qq.com/htdocs/" IndexFile="" CgiHome="/data/release/snsad/qzap/c.gdt.qq.com/fcg-bin/" Publish="" Location="" VirtuelHost="gray.c.gdt.qq.com" ServerPath="" RspFile="">
<Module ModName="gdt_click.fcg" InitProcNum="200" MaxProcNum="200" RunType="fastcgi" />
<Module ModName="gdt_clickwap.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="gdt_report.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="gdt_trace_a.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="gdtc.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="gdt_cookie.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<!-- offline
<Module ModName="gdt_shareclick.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="gdt_sharegift.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" CSRF="1"/>
<Module ModName="gdt_sharedesc.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="share.fcg" InitProcNum="100" MaxProcNum="500" RunType="fastcgi" CSRF="1" />
-->
<Module ModName="static_module_i" RunType="static"/>
<Module ModName="proxy_module" DllFile="../lib/proxy.so" Monitor="disable"  />
</Section>

<Section DocRoot="" IndexFile="" CgiHome="/data/release/snsad/qzap/c.express.paipai.com/fcg-bin/" Publish="" Location="" VirtuelHost="gray.c.express.paipai.com" ServerPath="" RspFile="">
<Module ModName="exp_click.fcg" InitProcNum="50" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="expc.fcg" InitProcNum="10" MaxProcNum="100" RunType="fastcgi" />
<Module ModName="exp_cookie.fcg" InitProcNum="10" MaxProcNum="100" RunType="fastcgi" />
</Section>


</ModuleList>

<Switch Index="-1" cginame="" prefix_mach="">

<!--Item Condition="test-switch" Index="1" /-->

</Switch>

</SYSTEM>
            
